.banner {
  --banner-background-color: blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 40px 24px;
  background-color: var(--banner-background-color);
  text-align: center;
}

.banner picture {
  max-width: 100%;
}

.banner img {
  display: block;
  max-width: 100%;
  height: auto;
}

.banner .banner-title {
  margin: 0;
  color: var(--background-color);
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
  font-weight: 600;
}

/* Dark variant */
.banner.dark {
  --banner-background-color: var(--dark-color);
}

.banner.dark .banner-title {
  color: var(--light-color);
}

@media (width >= 900px) {
  .banner {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding: 40px 32px;
  }
}
